

.catalogue {
    display: flex;
    flex-wrap: wrap;
}

.catalogue .panel {
    width: 23%;
    margin: 1%;
}

.catalogue .panel .panel-body {
    height: 240px;
    padding: 0px;
}

.catalogue img {
    height: 240px;
    width: 100%;
}
