{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="../../favicon.ico">

        <title>Theme Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'vendor/bootstrap/css/theme.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block css %}{% endblock %}
    </head>
    <body>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Tombstones18</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'catalogue:index' %}">Каталог</a></li>
                        <li><a href="{% url 'services' %}">Услуги</a></li>
                        <li><a href="{% url 'contact' %}">Контакты</a></li>
                        <li><a href="{% url 'orders:index' %}">Заказы</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <main role="main">
            {% block main %}
            {% endblock %}
        </main>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'vendor/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>