{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
{% endblock %}

{% block main %}
    <div class="container catalogue">
        {% for i in items %}
            <a class="panel panel-default" href="{% url 'catalogue:catalogue_item' i.slug %}">
                <div class="panel-heading">
                    {{ i.name }}
                </div>
                <div class="panel-body">
                    <img src="{{ i.image.url }}">
                </div>
                <div class="panel-footer">
                    {{ i.gist }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}