{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/catalogue_item.css' %}">
{% endblock %}

{% block main %}
    <div class="container catalogue-item">
        <div class="jumbotron">
            <img src="{{ item.image.url }}" width="500" height="500">
            <h2>{{ item.name }}</h2>
            <h3>{{ item.gist }}</h3>
            <p>{{ item.description }}</p>
            <p>Размер: {{ item.size }}</p>
            <p>Цена: 9999 руб.</p>
        <form action="{% url 'orders:order_add_item' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <input type="hidden" name="back" value="{{ request.path }}">
            <input type="submit" class="btn btn-info" role="button" value="Заказать">
        </form>
        </div>
    </div>
{% endblock %}