{% extends 'base.html' %}

{% block main %}
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>Контакты</h1>
				<br>
				<h2>Адрес</h2>
					<p>г. Ижевск, ул. ХХХ, д. ХХ, вывеска ХХХХХ</p>
				<br>
				<h2>Телефон</h2>
					<h3>Стационарный</h3>
					<p>8(3412)ХХ-ХХ-ХХ</p>
					<h3>Мобильный</h3>
					<p>8(ХХХ)ХХХ-ХХ-ХХ</p>		   
				<br>  
				<h2>Электронная почта</h2>
					<p>ХХХ@ХХХ.ХХ</p>	  
		</div>
	</div>
{% endblock %}