{% extends 'base.html' %}

{% block main %}
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>Tombstones18.ru</h1>
				<h2>Изготовление памятников и надгробий</h2>
					<p>Изготовление памятников и надгробий под заказ. Доставка, установка, гравировка, заливка и облицовка.</p>
		</div>
	</div>
{% endblock %}