{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/orders.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container order-list">
        {% if has_orders %}
            {% for order in orders %}
                <div class="order-list__order-item panel panel-default">
                    <div class="panel-heading" data-target="#order_{{ order.id }}" data-toggle="collapse">
                        <span class="glyphicon glyphicon-collapse-down"></span>
                        {{ order.gist }}
                    </div>
                    <div id="order_{{ order.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                                <h2>Ваш заказ ожидает вас по адресу: г. Ижевск, ул. ХХХ, д. ХХ, вывеска ХХХХХ.</h2>
                                <h3>Содержимое заказа:</h3>
                            {% for order_item in order.items.all %}
                                <h3>{{ order_item.item.name }}</h3>
                                <img src="{{ order_item.item.image.url }}" width="300" height="300">
                                <h4>{{ order_item.item.gist }}</h4>
                                <p>{{ order_item.item.description }}</p>
                                <p>Размер: {{ item.size }}</p>
                                <p>Цена: 9999 руб.</p>
                                <p>Количество: {{ order_item.quantity }} шт.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            no orders
        {% endif %}
    </div>
{% endblock %}